
<div
class="relative m-4 p-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-white shadow-sm"
>
<div class="flex shrink-0 items-center pb-4 text-xl font-medium text-slate-800">
  Purchase
</div>
<div class="relative border-t border-slate-200 py-4 leading-normal text-slate-600 font-light">
    You can buy this product in one of the branches of our store 
    (actually you can’t - this is a training site project, and now you see a stub, 
    because I’m too lazy to write a shopping cart)
    Thanks!
</div>
<div class="flex shrink-0 flex-wrap items-center pt-4 justify-center">
  
  <button (click)="changeVisibility()" class="rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-purple-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
    Close
  </button>
</div>