@tailwind base;
@tailwind components;
@tailwind utilities;

.container{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 200px); 
    background-color: rgb(248, 244, 255); 
    gap: 10px 

}